<%= js :jsoneditor%>
<header class='row'>
  <div class='span5'>
    <h3><%= no_translation('Edit')%></h3>
  </div>
</header>
<div>
  <div id="editor" class="json-editor panel" style="box-shadow: 0 0 5px rgba(50, 50, 50, 0.25);">
    <div id="legend">
          <span id="expendAll" class="btn btn-xs">alle ausfahren</span>
          <span class="btn-xs legObj">{} Object</span>
          <span class=" btn-xs legStr">"" String</span>
          <span class=" btn-xs legNum"># Number</span>
          <span class=" btn-xs legArr">[] Array</span>
          <span class=" btn-xs legBoo">IO Boolean</span>
          <span class=" btn-xs legNll">Null</span>
    </div>
    <hr/>
    <style type="text/css" scoped="scoped">
    .json-editor { 
      margin-left: 10px;
      padding: 20px;
    }

    .json-editor.expanded .item { 
      display: block !important;
    }

    .json-editor .property,
    .json-editor .value { 
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 5px;
      margin-right: 2px;
    }

    .json-editor .value { 
      background: rgba(237, 237, 237, .7);
      width: 80%;
    }
    .btn-exp{
      margin-left: -15px;
    }
    .json-editor .property { 
      width: 154px;
      background-color:#EAEAEA;
      color: white;

    }
    .json-editor button.property { 
      width: 160px;
    }

    .json-editor .editing { 
      border: 1px solid gray;
      outline: none;
    }

    .json-editor .item { 
      line-height: 20px;
      margin-top: 2px;
    }
    .json-editor .item:last-child { 
      border-bottom: none;
    }

    .json-editor .item > .item { 
      margin-left: 30px;
      display: none;
    }

    .json-editor .item.expanded > .item { 
      display: block;
    }

    .json-editor .expander { 
      width: 16px;
      display: inline-block;
      margin-left: -15px;
      cursor: pointer;
    }
    .json-editor .item.expanded > .expander { 
    }

    .json-editor .item.appender > .property { 
       background-color: #999999; 
       cursor: pointer;
       width: 50px;
    }   
    
    .json-editor .item.string_sym > .property {padding-right:26px ;color:#fff; background-color:#90908F; background-image: url('/sidekiq/images/string.png'); background-position: right, bottom; background-repeat:no-repeat;}
    .json-editor .item.array_sym  > .property {padding-right:26px; color:#fff; background-color:rgba(100,116,165,1); background-image: url('/sidekiq/images/array.png'); background-position: right, bottom; background-repeat:no-repeat;}
    .json-editor .item.object_sym > .property {padding-right:26px; color:#fff; background-color:rgba(152,0,61,1); background-image: url('/sidekiq/images/object.png'); background-position: right, bottom; background-repeat:no-repeat;}
    .json-editor .item.number_sym > .property {padding-right:26px; color:#fff; background-color:#AFA528; background-image: url('/sidekiq/images/number.png'); background-position: right, bottom; background-repeat:no-repeat;}
    .json-editor .item.boolean_sym > .property {padding-right:26px; color:#fff; background-color:#1A8E57; background-image: url('/sidekiq/images/boolean.png'); background-position: right, bottom; background-repeat:no-repeat;}
    .json-editor .item.null_sym > .property { background-color:#fff!important;color:#fff;}
  
    
/*    .legStr { background-color:#90908F!important;color:#fff;}
    .legArr { background-color:#1A708E!important;color:#fff;}
    .legObj { background-color:#8E2C1A!important;color:#fff;}
    .legNum { background-color:#AFA528!important;color:#fff;}
    .legBoo { background-color:#1A8E57!important;color:#fff;}
    .legNll { background-color:#EAEAEA!important;color:#fff;}
*/
    .legStr { background-color:#90908F!important;color:#fff;}
    .legArr { background-color:rgba(100,116,165,1)!important;color:#fff;}
    .legObj { background-color:rgba(152,0,61,1)!important;color:#fff;}
    .legNum { background-color:#AFA528!important;color:#fff;}
    .legBoo { background-color:#1A8E57!important;color:#fff;}
    .legNll { background-color:#EAEAEA!important;color:#fff;}
    
    </style>    
  </div>
  <div>
  <script type="text/javascript">
  var opt = {       
      change: function(data) { 
        var successCB = function(){
          console.log("success");
        };
        $.ajax({
          type: "POST",
          url: "/sidekiq/cron/<%=@job.name%>/update",
          data: JSON.stringify(data),
          success: successCB,
          dataType: "json"
        });
      },
      propertyclick: function(path) { 
          
      }
  };
  var config = <%= @job.message%>;
   $('#editor').jsonEditor(config['args'][0], opt);
   // Expend All
   $('#expendAll').click(function() {
     var item = $('#editor');
     item.toggleClass('expanded');
     var btn = $('#expendAll');
     var exp = $('.expander');
     if (btn.text() == "alle ausfahren") {
       btn.text("alle einfahren");
       exp.text("-");
     } else {
       btn.text("alle ausfahren");
       exp.text("+");
     }
   });
  </script>
</div>